<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/forget_password.css">
	<script>
			function checkUser(){
				var newpassword=$('#newpassword').val(),
		   			newpassword1=$('#newpassword1').val();
				if(newpassword!=newpassword1){
						$('#tsPsw').show();
						setTimeout(function(){
							$('#tsPsw').hide();
						},1000)
						return false;
				}else{
					var hash=hex_md5(newpassword);
					$('#newpassword').val(hash);
				}
			}		
	</script>
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar head" role="navigation">  			  
   			<div class="navbar-header">
        	<a class="navbar-brand" href="#"><img src="../static/images/logo.png"></a>
    		</div>
    	</nav>  
		<div class="row content">
			<div id="dialog">
				<h3>重置密码</h3>
				<form method="post" id="forms" onsubmit="return checkUser()">
					<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
					<p><input type="text" placeholder="邮箱" id="email" name="email"></p>
					<p><input type="text" placeholder="验证码" id="password" name="code"><button id="hqyzm">获取验证码</button></p>
					<p><input type="password" placeholder="新密码" id="newpassword" name="password"></p>
					<p><input type="password" placeholder="确认新密码" id="newpassword1"></p>
					<div id="tsPsw">
						<p>两次密码不一致</p>
					</div> 
					<!-- <div id="ts">
					                    {% for field, errors in form.errors.items() %}
					                        {% for error in errors %}
					                            <p>{{ error }}</p>
					                        {% endfor %}
					                    {% endfor %}
					                </div> -->
					<p><button type="submit" class="btn btn-info" id="queren">确认</button></p>
				</form>
			</div>
		</div>
		<div class="row footer">
			<div class="col-md-12">
				京审备案
			</div>
		</div> 
	</div>
	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/js/md5.js"></script>
	<script src="../static/js/forget_password.js"></script>
</body>
</html>