<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>APL</title>
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="container-fluid">
	<div id="all">
        {% if current_user('user') %}
            {% if current_user('user').type.value == 'startup' %}
                <p><a href="{{ url_for('startup.project_list') }}">个人中心</a></p>
            {% else %}
                <p><a href="{{ url_for('investor.project_list_all') }}">个人中心</a></p>
            {% endif %}
 		   	<p><a href="{{ url_for('main.logout') }}">退出</a></p>
        {% endif %}
 		</div>
   		<nav class="navbar head" role="navigation">  			  
   		<div class="navbar-header">
        	<button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="../static/images/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav navbar-left ultop">
            		<li><a href="{{ url_for('main.index') }}">首页</a></li>
            		<li><a href="./startup/service.html">服务包</a></li>
            		<li><a href="#">业界新闻</a></li>
            		<li><a href="{{ url_for('startup.investor_list') }}">投资人</a></li>
        </ul>
        <div class="navbar-right spright">
				<span>客户端</span>
                {% if current_user('user') %}
				    <span id="emailId">{{ current_user('user').email }}</span>
                {% endif %}
		</div>
    </div>	
    </nav>
    <div class="col-md-12 banner content">
    	<img src="../static/images/banner.jpg" style="width:100%">

        {% if not current_user('user') %}
    	<div id="dialogs">
    		<h3>用户登录</h3>
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    			<p><input type="email" placeholder="邮箱" name="email" value="{{ form.email.data or '' }}"></p>
    			<p><input type="password" placeholder="密码" name="password" id="psw"></p>
    			<p><input type="text" placeholder="验证码" name="vcode"><span id="getImg"><img src="" style="height:100%;width:100%"></span></p>

                <div id="ts">
                    {% for field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                
                {#                {% for code, message in form.errors.items() %}#}
                {#                    <div id="ts">#}
                {#                        <p>{{ message }}</p>#}
                {#                    </div>#}
                {#                {% endfor %}#} 
                <p><button type="submit" class="btn btn-success" id="dl">登录</button></p>
    			<p><a href="{{ url_for('main.forget_password') }}">忘记密码?</a></p>
    		</form>	
    	</div>
        {% endif %}
    </div>
    <div class="col-md-12 content1">
    		<p>明星产品</p>
			<div class="col-md-2 col-md-offset-1">
				<dl>
					<dt><img src="../static/images/product.jpeg"></dt>
					<dd>产品名称1</dd>
				</dl>
			</div>
			<div class="col-md-2">
				<dl>
					<dt><img src="../static/images/product.jpeg"></dt>
					<dd>产品名称1</dd>
				</dl>
			</div>
			<div class="col-md-2">
				<dl>
					<dt><img src="../static/images/product.jpeg"></dt>
					<dd>产品名称1</dd>
				</dl>
			</div>
			<div class="col-md-2">
				<dl>
					<dt><img src="../static/images/product.jpeg"></dt>
					<dd>产品名称1</dd>
				</dl>
			</div>
			<div class="col-md-2">
				<dl>
					<dt><img src="../static/images/product.jpeg"></dt>
					<dd>产品名称1</dd>
				</dl>
			</div>
    </div>
    <div class="row footer">
    		<div class="col-md-12">
    			京审备号
    		</div>
    </div>  
</div>
	<script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/js/md5.js"></script>
    <script src="../static/js/reset_password.js"></script>
	<script src="../static/js/index.js"></script>
	<script src="../static/js/mark.js"></script>
</body>
</body>
</html>