<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=devive-width,initial-scale=1.0">
	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../../static/css/project_list_all.css">
	<style>
		.fl .col-md-2{
			padding-left:0;
			padding-right:0;
		}
		.fl{
			padding-left:0;
			padding-right:0;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
	<div id="all">
      		<p><a href="{{ url_for('investor.project_list_mine') }}">个人中心</a></p>
        <p><a href="{{ url_for('main.logout') }}">退出</a></p>
  	</div>
		<nav class="navbar head" role="navigation">  			  
   			<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            		<span class="sr-only">切换导航</span>
           			<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="#"><img src="../../static/images/logo.png"></a>
   			</div>
    		<div class="collapse navbar-collapse" id="example-navbar-collapse">
        		<ul class="nav navbar-nav navbar-left ultop">
            		<li><a href="{{ url_for('main.index') }}">首页</a></li>
  					<li class="active"><a href="{{ url_for('investor.project_list_all') }}">全部项目</a></li>
            		<!-- <li><a href="#">业界新闻</a></li> -->
        		</ul>
        		<div class="navbar-right spright">
					<!-- <span>客户端</span> -->
					<span id="emailId">{{ current_user('user').email }}</span>
				</div>
    			</div>	
    	</nav>  
    	<div class="row content">
			<div class="col-md-10 col-md-offset-1 main">
				<div class="col-md-12 xmtop">
					<div class="col-md-12">
					<div class="col-md-2">项目阶段：</div>
					<div class="col-md-1 allChoose">全部</div>
					<div class="col-md-9 fl">
						<div class="col-md-2">概念阶段</div>
						<div class="col-md-2">计划阶段</div>
						<div class="col-md-2">开发阶段</div>
						<div class="col-md-2">验证阶段</div>
						<div class="col-md-2">量产阶段</div>
						<div class="col-md-2">毕业</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-2">融资方式：</div>
					<div class="col-md-1 allChoose">全部</div>
					<div class="col-md-9 fl">
						<div class="col-md-2">股权融资</div>
						<div class="col-md-2">债券融资</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-2">创业阶段：</div>
					<div class="col-md-1 allChoose">全部</div>
					<div class="col-md-9 fl">
						<div class="col-md-2">种子期</div>
						<div class="col-md-2">初创期</div>
						<div class="col-md-2">成长期</div>
						<div class="col-md-2">扩张期</div>
						<div class="col-md-2">成熟期</div>
						<div class="col-md-2">Pre-IPO</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-2">所在行业：</div>
					<div class="col-md-1 allChoose">全部</div>
					<div class="col-md-9 fl">
						<div class="col-md-2">智能制造</div>
						<div class="col-md-2">智能硬件</div>
						<div class="col-md-2">人工智能</div>
						<div class="col-md-2">物联网</div>
						<div class="col-md-2">传感技术</div>
						<div class="col-md-2">VR/AR</div>
						<div class="col-md-2">大数据</div>
						<div class="col-md-2">医疗</div>
						<div class="col-md-2">教育</div>
						<div class="col-md-2">金融</div>
						<div class="col-md-2">O2O</div>
						<div class="col-md-2">黑科技</div>
						<div class="col-md-2">消费升级</div>
						<div class="col-md-2">机器人/无人机</div>
						<div class="col-md-3">新材料及新能源</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-2">所在地区：</div>
					<div class="col-md-1 allChoose">全部</div>
					<div class="col-md-9 fl">
						<div class="col-md-2">北京</div>
						<div class="col-md-2">天津</div>
						<div class="col-md-2">成都</div>
						<div class="col-md-2">合肥</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-2">融资金额：</div>
					<div class="col-md-1 allChoose">全部</div>
					<div class="col-md-9 fl">
						<div class="col-md-2">1万-10万</div>
						<div class="col-md-2">10万-50万</div>
						<div class="col-md-2">50万-100万</div>
						<div class="col-md-2">100万-500万</div>
						<div class="col-md-2">500万-1000万</div>
						<div class="col-md-2">1000万-5000万</div>
						<div class="col-md-2">5000万-1亿</div>
						<div class="col-md-2">大于1亿</div>
					</div>
				</div>
				</div>
				<div class="col-md-12 searchBox">
					<h6><span id="newPro">最新项目</span> | <span id="hotPro">人气项目</span></h6>
					<p><span id="search">搜索 </span><input type="text" id="txt"></p>
				</div>

                {% for p in projects %}
				<div class="col-md-12 xmlist" id="{{ p.id }}">
					<div class="col-md-12 t">
						<div class="col-md-2">
							<img src="{{ p.icon_url or '../../static/images/product.jpeg' }}" alt="">
						</div>
						<div class="col-md-10">
							<h6>{{ p.name }}</h6>
							<p><span>{{ p.industry.value }} | {{ p.company_phase.value }} | {{ p.deadline }}</span><span>约谈：<label for="">2</label></span><span>点评：<label for="">{{ p.comments.count() }}</label></span></p>
{#							<a href="###"><button id="gz" class="btn btn-info">关注</button></a><a href="{{ url_for('main.index') }}"><button id="tz" class="btn btn-info">投资约谈</button></a>#}
						</div>
					</div>
					<div class="col-md-12" style="padding-top:1%;">
						<div class="col-md-2">
						项目阶段
						</div>
						<div class="col-md-10 xmjd">
							<div>
								概念阶段
							</div>
							<div>
								规划阶段
							</div>
							<div>
								开发阶段
							</div>
							<div>
								检验阶段
							</div>
							<div>
								技术评审
							</div>
							<div>
								试制阶段
							</div>
						</div>
						<div class="col-md-10 col-md-offset-2 pj">
							<div>
								良好
							</div>
						</div>
					</div>
			    </div>
                {% endfor %}

			</div>
		</div>
		<div class="row footer">
		<div class="col-md-12">
			京审备案
		</div>
	</div> 
	</div>
	<script src="../../static/js/jquery-1.11.1.min.js"></script>
	<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../static/js/structure.js"></script>
	<script src="../../static/js/project_list_all.js"></script>
	<script src="../../static/js/mark.js"></script>
    <script language="javascript">

        $('.xmlist').on('click', function () {
            var ids = $(this).attr('id');
            location.href = "/investor/projects/" + ids + "";
        })

    </script>
</body>
</html>