<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=devive-width,initial-scale=1.0">
	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../../static/css/project_schedule_list.css">
</head>
<body>
	<div class="container-fluid">
 		<div id="all">
 		   	<p><a href="{{ url_for('investor.project_list_mine') }}">个人中心</a></p>
            <p><a href="{{ url_for('main.logout') }}">退出</a></p>
 		</div>
   		<nav class="navbar head" role="navigation">  			  
   		<div class="navbar-header">
        	<button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="../../static/images/logo.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav navbar-left ultop">
             <li><a href="{{ url_for('main.index') }}">首页</a></li>
            <li><a href="{{ url_for('investor.project_list_all') }}">全部项目</a></li>
            <!-- <li><a href="#">业界新闻</a></li> -->
        </ul>
        <div class="navbar-right spright">
				<!-- <span>客户端</span> -->
				<span id="emailId">{{ current_user('user').email }}</span>
		</div>
    </div>	
    </nav>  
	<div class="row content">
			<div class="col-md-8 col-md-offset-2 main">
				<div class="col-md-12 xmlist">
				<div class="col-md-12" style="border-bottom:1px solid #ccc">
					<div class="col-md-2">
						<img src="../../static/images/product.jpeg" alt="">
					</div>
					<div class="col-md-10">
						<h6>项目名称</h6>
						<p><span>北京 | 电子商务 | 成长期 | 股权融资 | 2016-11-111</span><span>约谈：<label for="">2</label></span><span>点评：<label for="">2</label></span></p>
					</div>
				</div>
				<div class="col-md-12" style="margin-top:2%;">
					<div class="col-md-2" style="padding-top:1%">
						项目阶段
					</div>
					<div class="col-md-10 xmjd">
						<div>
							概念阶段
						</div>
						<div>
							规划阶段
						</div>
						<div>
							开发阶段
						</div>
						<div>
							检验阶段
						</div>
						<div>
							技术评审
						</div>
						<div>
							试制阶段
						</div>
					</div>
					<div class="col-md-10 col-md-offset-2 pj">
						<div>
							良好
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 xx">
				<h5>项目负责人信息<img src="../../static/images/close.png" alt=""></h5>
				<div class="col-md-12">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-6" style="text-align:center">手机号：</div>
						<div class="col-md-6" id="sjh">123455678</div>
					</div>
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-6" style="text-align:center">微信号：</div>
						<div class="col-md-6" id="wxh">123455678</div>
					</div>
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-6" style="text-align:center">微信二维码：</div>
						<div class="col-md-6" id="wxewm"></div>
					</div>
				</div>

			</div>
			<div class="col-md-12 rzqkBox">
				<h5>项目团队</h5>
				<div class="col-md-12">
					<div class="col-md-3">企业名称：</div>
					<div class="col-md-9">洪泰智能有限公司</div>
					<div class="col-md-3">企业简介：</div>
					<div class="col-md-9">xxxxx</div>
					<div class="col-md-3">联系人：</div>
					<div class="col-md-9">张三</div>
				</div>
			</div>
			<div class="col-md-12 rzqkBox">
				<h5 style="border:none;padding-bottom:0">项目点评</h5>
				<div class="col-md-12">
					<form method="post">
						<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
						<textarea rows="5" style="width:100%;" id="textarea"></textarea>
						<label for="na">姓名：</label><input type="text" id="na">
						<label for="sj">手机号：</label><input type="text" id="sj">
						<span id="tssj">手机号码有误</span>
						<button id="fbdp" class="btn btn-info">发布点评</button>
					</form>
					
					<div class="line"></div>
					<div id="ly">
						 暂无项目点评
						 <div class="main">
						 	<p>xxxx</p>
							<p>xxxxxxxx</p>
						 </div>
						
					</div>
				</div>
			</div>
				
				
				
				
			</div>
	</div>
	 <div class="row footer">
		<div class="col-md-12">
			京审备案
		</div>
	</div> 
</div>
	<script src="../../static/js/jquery-1.11.1.min.js"></script>
	<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../static/js/structure.js"></script>
	<script src="../../static/js/project_schedule_list.js"></script>
	<script src="../../static/js/mark.js"></script>
</body>
</html>