<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=devive-width,initial-scale=1.0">
	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/admin_project_detail.css">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar head" role="navigation">               
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><img src="../../static/images/logo.png"></a>
            </div>
            <div class="adminBox">
              <div class="aBox"><span id="adminName">leizhongli</span></div> <span class="caret"></span>&nbsp;&nbsp;&nbsp;<a href="./index.html" id="quit">退出</a>
            </div>
        </nav> 
    <div class="row content">
			  <div class="col-md-8 col-md-offset-2 main"> 
              <div class="col-md-12 xmlist">
                  <div class="col-md-12 mes" style="border-bottom:1px solid #ccc">
                      <div class="col-md-2">
                          <img src="" alt="">
                      </div>
                      <div class="col-md-10">
                            <h6></h6>
                            <p><span>约谈：<label for="">2</label></span><span>点评：<label for="">2</label></span></p>
                      </div>
                  </div>
                  <div class="col-md-12" style="margin-top:2%;">
                      <div class="col-md-2" style="padding-top:1%">
                        项目阶段
                      </div>
                      <div class="col-md-10 xmjd">
                      </div>
                      <div class="col-md-12 special">
                          <h5></h5>
                          <table class="table table-hover table-bordered table-striped mainTabs">
                            <thead>
                                <tr>
                                  <th style="text-align:center;">
                                    交付物
                                  </th>
                                  <th style="text-align:center;">
                                    描述
                                  </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                          <table class="table table-hover table-bordered table-striped tabt">
                              <thead>
                                <tr>
                                  <th style="text-align:center;">
                                    本阶段预计开发时间
                                  </th>
                                  <th style="text-align:center;">
                                    已用时长
                                  </th>
                                  <th style="text-align:center;">
                                    风险状况
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="col-md-12 rzqkBox">
                融资情况：<span class='financing'></span>
              </div>
              <div class="col-md-12 rzqkBox projects">
                <h5>项目概述</h5>
                <div class="col-md-12">
                  <div class="col-md-3">项目介绍：</div>
                  <div class="col-md-9">xxxxx</div>
                  <div class="col-md-3">项目优势：</div>
                  <div class="col-md-9"></div>
                  <div class="col-md-3">交付日期：</div>
                  <div class="col-md-9"></div>
                  <div class="col-md-3">融资目标：</div>
                  <div class="col-md-9"></div>
                  <div class="col-md-3">商业计划书：</div>
                  <div class="col-md-9"></div>
                </div>
              </div>
              <div class="col-md-12 rzqkBox proTeam">
                <h5>项目团队</h5>
                <div class="col-md-12">
                  <div class="col-md-3">企业名称：</div>
                  <div class="col-md-9">洪泰智能有限公司</div>
                  <div class="col-md-3">企业简介：</div>
                  <div class="col-md-9">xxxxx</div>
                  <div class="col-md-3">联系人：</div>
                  <div class="col-md-9"></div>
                </div>
              </div>
              <div class="col-md-12 rzqkBox">
                <h5 style="border:none;padding-bottom:0">项目点评</h5>
                <div class="col-md-12" style="text-align:center;">
                    <div id="ly">
                      暂无项目点评
                    </div>
                    <div class="plBox" style="text-align:left;margin-top:1%">
                    </div>
                </div>
              </div>
			 </div>
		</div>
    <div class="row footer">
      <div class="col-md-12">
        京审备案
      </div>
    </div>
	</div>
	<script src="../../static/js/jquery-1.11.1.min.js"></script>
	<script src="../../static/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../static/js/structure.js"></script>
  <script type="text/javascript">
    document.write("<scr"+"ipt src=\"../../static/js/admin_project_detail.js\"></sc"+"ript>")
  </script>
 

</body>
</html>