*{
	font-size:14px;
}
.rights{
	border:1px solid #ccc;
	margin-top:1.4%;
	border-radius:6px;
	margin-left:2%;
	padding-top:1%;
	padding-bottom:2%;
	padding-left:0;
	padding-right:1%;
}
#search{
	padding-left:5%;
	padding-right:5%;
	margin-right:3%;
}
.timer{
	height:30px;
	border:1px solid #ccc;
	border-radius:6px;
	padding-top:1%;
	padding-bottom:1%;
	width:45%;
}
.dc{
	padding-left:5%;
	padding-right:5%;
}
table a{
	padding-right:10px;
	padding-left:10px;
	color:#2babd2;
	font-size:13px;
}
a:hover{
	color:#2aabd2;
	text-decoration:none;
}
.downLoad{
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}
@media screen and (max-width:1025px){
	.timer{
		font-size:12px;
	}
}
@media screen and (min-width:1025px){
	.timer{
		font-size:14px;
	}
}
