* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; }

a {
  color: #000;
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%;
  width: 100%; }

.container-fluid {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0 !important;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.mark {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: none; }

#tck {
  display: none;
  width: 30%;
  background: #fff;
  z-index: 10001;
  position: fixed;
  left: 50%;
  margin-left: -15%;
  top: 50%;
  text-align: center; }
  #tck h5 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: url(../images/tckbj.png);
    margin: 0;
    padding-left: 5%;
    position: relative;
    font-weight: bold;
    color: #666;
    text-align: left; }
    #tck h5 img {
      position: absolute;
      right: 3%;
      top: 13px; }
  #tck button {
    margin-bottom: 2%; }

#dpBtn {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
  background: #FF9966;
  color: #fff;
  border: none;
  border-radius: 5px; }

.te {
  width: 100%;
  padding: 2%; }

.header {
  padding-top: 15px; }

.header:nth-of-type(1) {
  padding-left: 30px; }

.ultop {
  margin-left: 5%; }
  .ultop li {
    padding-top: 10px; }
    .ultop li a {
      font-size: 18px;
      color: #000; }

.navbar {
  margin-bottom: 0; }

.spright {
  width: 13%;
  padding-top: 25px;
  cursor: pointer;
  text-align: center;
  color: #666;
  margin-right: 4%; }
  .spright span {
    display: inline-block;
    height: 100%; }
  .spright span:nth-of-type(1) {
    padding-right: 5%; }

.head {
  width: 100%;
  color: #000;
  background: #fff;
  border-bottom: 1px solid #ccc; }

.navbar-brand {
  padding: 0;
  padding-left: 10%;
  margin-top: 6%; }
  .navbar-brand img {
    height: 80%; }

.navbar-header {
  margin-left: 8%; }
  .navbar-header span {
    background: #000; }

.content {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-flex: 1; }

.row {
  margin: 0; }

.leftTop {
  text-align: left;
  width: 100%;
  font-size: 18px;
  margin-top: 5%;
  background: #efefef;
  border-radius: 6px; }
  .leftTop h3 {
    font-size: 18px;
    width: 100%; }
  .leftTop #bj {
    margin-top: 10%;
    outline: none; }
  .leftTop p {
    margin-top: 15px; }
  .leftTop p:nth-of-type(1) span:nth-of-type(2) {
    padding-left: 10%; }
  .leftTop p:nth-of-type(2) span:nth-of-type(2) {
    padding-left: 30%; }

.t {
  margin-bottom: 5%; }

.col-md-12 {
  padding: 0; }

.leftBot {
  text-align: left;
  background: #efefef;
  border-radius: 6px;
  margin-top: 5%; }
  .leftBot ul {
    width: 100%;
    margin-bottom: 0; }
    .leftBot ul li {
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding-left: 5%;
      cursor: pointer; }
      .leftBot ul li span {
        float: right;
        margin-right: 5%; }
      .leftBot ul li a {
        font-size: 18px;
        color: #333; }

.ul > li:hover {
  display: block;
  background-color: #7bc0de; }
  .ul > li:hover a {
    color: #fff;
    text-decoration: none; }

.ul > li a {
  display: block;
  height: 100%;
  width: 100%; }
.ul>li:nth-of-type(1){
    border-top-left-radius:6px;
    border-top-right-radius:6px;
  }
  .ul>li:nth-of-type(2){
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
  }
.rights .form-group {
  margin-top: 2.5%; }

.rightt {
  padding-left: 5%;
  text-align: left;
  padding-bottom: 1%; }
  .rightt h3 {
    font-size: 25px;
    padding-left: 3%; }
  .rightt span {
    font-size: 14px;
    color: #b92c28;
    padding-left: 3%; }

#tzr_qr {
  margin-top: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #FF9966;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
  outline: none; }

.resets {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-top: 2%;
  padding-bottom: 2%; }

.ts {
  color: red;
  text-align: right;
  display: none; }

.card {
  background: #efefef;
  padding-top:2%;
  padding-bottom:2%;
  margin-top: 2.2%;
  border-radius: 6px;
  position: relative; }
  .card a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px; }
  .card a:hover {
    color: #000;
    text-decoration: none; }

#all {
  position: fixed;
  right: 4%;
  top: 75px;
  height: 100px;
  width: 200px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  display: none; }
  #all a {
    color: #fff; }
  #all p {
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 0;
    line-height: 50px; }

.footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  background: #313131;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 2%; }

@media screen and (min-width: 1567px) {
  .leftTop {
    font-size: 18px; }
    .leftTop h3 {
      font-size: 18px; }

  .leftBot ul li a {
    font-size: 20px; }

  .rightt h3 {
    font-size: 25px; } }
@media screen and (min-width: 993px) and (max-width: 1566px) {
  .leftTop {
    font-size: 16px; }
    .leftTop h3 {
      font-size: 16px; }

  .leftBot ul li a {
    font-size: 18px; }

  .rightt h3 {
    font-size: 20px; } }
@media screen and (max-width: 992px) {
  .header:nth-of-type(2) ul li {
    font-size: 16px; }

  .leftTop {
    font-size: 16px; }
    .leftTop h3 {
      font-size: 16px; }

  .leftBot ul li a {
    font-size: 18px; }

  .rightt h3 {
    font-size: 20px; } }

/*# sourceMappingURL=tzf_safe.css.map */
