* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; }

a {
  color: #000;
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%;
  width: 100%; }

#bj {
  outline: none; }

.container-fluid {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0 !important;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.header {
  padding-top: 15px; }

.header:nth-of-type(1) {
  padding-left: 30px; }

.ultop {
  margin-left: 5%; }
  .ultop li {
    padding-top: 10px; }
    .ultop li a {
      font-size: 18px;
      color: #000; }

.navbar {
  margin-bottom: 0; }

.spright {
  width: 13%;
  padding-top: 25px;
  cursor: pointer;
  text-align: center;
  color: #666;
  margin-right: 4%; }
  .spright span {
    display: inline-block;
    height: 100%; }
  .spright span:nth-of-type(1) {
    padding-right: 5%; }

.head {
  width: 100%;
  color: #000;
  background: #fff;
  border-bottom: 1px solid #ccc; }

.navbar-brand {
  padding: 0;
  padding-left: 10%;
  margin-top: 6%; }
  .navbar-brand img {
    height: 80%; }

.navbar-header {
  margin-left: 8%; }
  .navbar-header span {
    background: #000; }

.content {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-flex: 1; }

.row {
  margin: 0; }

.leftTop {
  text-align: left;
  width: 100%;
  font-size: 18px;
  margin-top: 5%;
  background: #efefef;
  border-radius: 6px; }
  .leftTop h3 {
    font-size: 18px;
    width: 100%; }
  .leftTop #bj {
    margin-top: 10%; }
  .leftTop p {
    margin-top: 15px; }
  .leftTop p:nth-of-type(1) span:nth-of-type(2) {
    padding-left: 10%; }
  .leftTop p:nth-of-type(2) span:nth-of-type(2) {
    padding-left: 30%; }

.t {
  margin-bottom: 5%; }

.col-md-12 {
  padding: 0; }

.leftBot {
  text-align: left;
  background: #efefef;
  border-radius: 6px;
  margin-top: 5%; }
  .leftBot ul {
    width: 100%;
    margin-bottom: 0; }
    .leftBot ul li {
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding-left: 5%;
      cursor: pointer; }
      .leftBot ul li span {
        float: right;
        margin-right: 5%; }
      .leftBot ul li a {
        font-size: 18px;
        color: #333; }

.ul > li:hover {
  display: block;
  background-color: #7bc0de; }
  .ul > li:hover a {
    color: #fff;
    text-decoration: none; }

.ul > li a {
  display: block;
  height: 100%;
  width: 100%; }

.rights .form-group {
  margin-top: 2.5%; }
  .rights .form-group .col-sm-6 {
    text-align: left; }
    .rights .form-group .col-sm-6 a {
      margin-left: 3%; }
    .rights .form-group .col-sm-6 a:hover {
      color: #000;
      text-decoration: none; }
    .rights .form-group .col-sm-6 label {
      font-weight: normal; }

.rightt {
  padding-left: 5%;
  text-align: left;
  padding-bottom: 1%; }
  .rightt h3 {
    font-size: 25px;
    padding-left: 3%; }
  .rightt span {
    font-size: 14px;
    color: #b92c28;
    padding-left: 3%; }

#qrTj {
  outline: none;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3%; }

.line {
  height: 3px;
  background: #ccc;
  margin-left: 3%; }

.ts {
  color: red;
  display: none; }

.cks .col-sm-3 {
  text-align: left;
  padding: 0; }
  .cks .col-sm-3 input {
    margin-right: 7%; }
  .cks .col-sm-3 label {
    font-weight: normal; }

.xmlist {
  border: 1px solid #ccc;
  margin-bottom: 2%;
  border-radius: 6px;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
  margin-top: 2%; }
  .xmlist .col-md-2 {
    font-size: 18px; }
    .xmlist .col-md-2 img {
      height: 60px;
      width: 60px;
      border-radius: 50%; }
  .xmlist .col-md-10 {
    text-align: left;
    position: relative; }
    .xmlist .col-md-10 h6 {
      font-size: 16px;
      padding-bottom: 2%; }
      .xmlist .col-md-10 h6 #zhiwei {
        padding-left: 3%;
        font-size: 14px; }
      .xmlist .col-md-10 h6 #dp {
        float: right;
        margin-right: 30px;
        font-weight: normal; }
    .xmlist .col-md-10 #js #jbJs {
      float: left; }
    .xmlist .col-md-10 #js #btns {
      float: right;
      margin-right: 4%; }

.sels select {
  height: 30px;
  width: 34%;
  margin-bottom: 2%; }
.projectCard{
  position:relative;
}
#albjBtn{
  position:absolute;
  right:-3%;
  top:5%;
}
#alscBtn{
  position:absolute;
  right:-3%;
  top:50%;
}
.rzqkBox {
  position: relative;
  padding: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: left;
  margin-bottom: 2%; }
  .rzqkBox h5 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2%;
    font-size: 18px;
    margin-top: 0;
    position: relative; }
    .rzqkBox h5 #addTz {
      position: absolute;
      right: 3%;
      top: -8px; }
  .rzqkBox .proImg {
    margin-right: 3%;
    margin-top: 1%; }
    .rzqkBox .proImg img {
      height: 60px;
      width: 60px;
      border-radius: 50%; }
  .rzqkBox .projectCard {
    border: 1px solid #ccc;
    border-radius: 6px; }
  .rzqkBox .Addproject {
    padding: 2%;
    padding-right: 0;
    padding-bottom: 1%;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: left;
    margin-bottom: 2%;
    margin-top: 2%; }
    .rzqkBox .Addproject h5 {
      border-bottom: 1px solid #ccc;
      padding-bottom: 2%;
      font-size: 18px;
      margin-top: 0; }
      .rzqkBox .Addproject h5 #addAl {
        position: absolute;
        right: 3%;
        top: -8px; }
  .rzqkBox .te select {
    height: 30px; }
  .rzqkBox .te input {
    height: 30px;
    margin-right: 2%; }
  .rzqkBox #jgMc {
    height: 30px;
    margin-left: 8%;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-left: 5px; }
  .rzqkBox .col-sm-10 {
    text-align: center; }
  .rzqkBox .col-md-3 {
    margin-bottom: 1%; }
  .rzqkBox .col-md-9 {
    margin-bottom: 1%; }
  .rzqkBox .jyBox {
    position: relative; }
    .rzqkBox .jyBox button {
      padding-top: 0.3% !important;
      padding-bottom: 0.3% !important; }
  .rzqkBox #bjBtn {
    position: absolute;
    right: 0;
    top: 3%; }
  .rzqkBox #scBtn {
    position: absolute;
    right: 0;
    top: 50%; }
  .rzqkBox #jybjBtn {
    position: absolute;
    right: 0;
    top: 3%; }
  .rzqkBox #jyscBtn {
    position: absolute;
    right: 0;
    top: 50%; }

.card {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  cursor: pointer; }

.Addgong {
  padding: 2%;
  padding-right: 0;
  padding-bottom: 1%;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: left;
  margin-bottom: 2%;
  margin-top: 2%; }
  .Addgong h5 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2%;
    font-size: 18px;
    margin-top: 0; }
    .Addgong h5 #addgzjl {
      position: absolute;
      right: 3%;
      top: 1%; }
  .Addgong .col-sm-10 {
    text-align: center; }

.grBox {
  padding: 2%;
  padding-bottom: 1%;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: left;
  margin-bottom: 2%; }
  .grBox h5 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 2%;
    font-size: 18px;
    margin-top: 0; }
    .grBox h5 #addGz {
      position: absolute;
      right: 5%;
      top:1%; }
    .grBox h5 #addJy {
      position: absolute;
      right: 5%;
      top: 1%; }
  .grBox label {
    font-weight: normal;
    margin-right: 3%; }

#all {
  position: fixed;
  right: 4%;
  top: 75px;
  height: 100px;
  width: 200px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  display: none; }
  #all a {
    color: #fff; }
  #all p {
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 0;
    line-height: 50px; }

.footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  background: #313131;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 2%; }

@media screen and (min-width: 1567px) {
  .leftTop {
    font-size: 18px; }
    .leftTop h3 {
      font-size: 18px; }

  .leftBot ul li a {
    font-size: 20px; }

  .rightt h3 {
    font-size: 25px; } }
@media screen and (min-width: 993px) and (max-width: 1566px) {
  .leftTop {
    font-size: 16px; }
    .leftTop h3 {
      font-size: 16px; }

  .leftBot ul li a {
    font-size: 18px; }

  .rightt h3 {
    font-size: 20px; } }
@media screen and (max-width: 992px) {
  .header:nth-of-type(2) ul li {
    font-size: 16px; }

  .leftTop {
    font-size: 16px; }
    .leftTop h3 {
      font-size: 16px; }

  .leftBot ul li a {
    font-size: 18px; }

  .rightt h3 {
    font-size: 20px; } }

/*# sourceMappingURL=tzf_gerenxiangqing.css.map */
