* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; }

a {
  color: #000;
  text-decoration: none; }

html, body, .container-fluid {
  height: 100%;
  width: 100%;
  overflow: hidden; }

.container-fluid {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
  padding: 0 !important; }

.row {
  margin: 0; }

.header {
  padding-top: 15px; }

.header:nth-of-type(1) {
  padding-left: 30px; }

.navbar-brand {
  padding: 0;
  padding-left: 10%;
  margin-top: 6%; }
  .navbar-brand img {
    height: 80%; }

.navbar-header {
  margin-left: 8%; }
  .navbar-header span {
    background: #000; }

.navbar {
  margin-bottom: 0; }

.ultop {
  margin-left: 5%; }
  .ultop li {
    padding-top: 10px; }
    .ultop li a {
      font-size: 18px;
      color: #000; }

.spright {
  width: 13%;
  padding-top: 25px;
  cursor: pointer;
  text-align: center;
  color: #666;
  margin-right: 4%; }
  .spright span {
    display: inline-block;
    height: 100%; }
  .spright span:nth-of-type(1) {
    padding-right: 5%; }

.head {
  width: 100%;
  color: #000;
  background: #fff;
  border-bottom: 1px solid #ccc; }

.content {
  text-align: center;
  width: 100%;
  height: 100%;
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
  -webkit-box-flex: 1; }

#dialog {
  padding: 2%;
  background: rgba(255, 255, 255, 0.6);
  width: 25%;
  margin-left: 36%;
  margin-top: 6%;
  border-radius: 8px; 
  position:relative;}
  #dialog h3 {
    color: #000;
    font-size: 20px;
    margin: 0; }
  #dialog p {
    margin: 0 auto;
    margin-top: 4%;
    width: 100%; }
    #dialog p input {
      width: 100%;
      padding-top: 3%;
      padding-bottom: 3%;
      padding-left: 10px;
      border-radius: 5px;
      border: none; }
  #dialog button {
    width: 50%; }

#ts{
  color: #A31F24;
  text-align:center;
  position:absolute;
  left:0;
  top:50%;
  background:rgba(255,255,255,.7);
  width:100%;
  transform: translateY(-50%);
  padding-top:2%;
  padding-bottom:2%;
}
#ts p{
  margin-top:3%;
  margin-bottom:3%;
}
#tsPsw{
  color: #A31F24;
  text-align:center;
  position:absolute;
  left:0;
  top:50%;
  background:rgba(255,255,255,.7);
  width:100%;
  transform: translateY(-50%);
  padding-top:2%;
  padding-bottom:2%;
  display:none;
}
#tsPsw p{
  margin-top:3%;
  margin-bottom:3%;
}

#all {
  position: fixed;
  right: 4%;
  top: 75px;
  height: 100px;
  width: 200px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  display: none; }
  #all a {
    color: #fff; }
  #all p {
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 0;
    line-height: 50px; }

.footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  background: #313131;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px; }

@media screen and (min-width: 1567px) {
  .navbar-header {
    margin-left: 4%; }

  .spright {
    margin-right: 3%; }

  .leftTop {
    font-size: 18px; }
    .leftTop h3 {
      font-size: 18px; }

  .leftBot ul li a {
    font-size: 20px; }

  .rightt h3 {
    font-size: 25px; } }
@media screen and (min-width: 993px) and (max-width: 1566px) {
  .navbar-header {
    margin-left: 8%; }

  .spright {
    margin-right: 4%; }

  .leftTop {
    font-size: 16px; }
    .leftTop h3 {
      font-size: 16px; }

  .leftBot ul li a {
    font-size: 18px; }

  .rightt h3 {
    font-size: 20px; } }
@media screen and (max-width: 992px) {
  .navbar-header {
    margin-left: 0; }

  .spright {
    margin-right: 0; }

  .leftTop {
    font-size: 16px; }
    .leftTop h3 {
      font-size: 16px; }

  .leftBot ul li a {
    font-size: 18px; }

  .rightt h3 {
    font-size: 20px; } }

/*# sourceMappingURL=resetPsw.css.map */
